<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_daoju_daoxian1.png</key>
		<dict>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daoju_gai1.png</key>
		<dict>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>29</integer>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>width</key>
			<integer>42</integer>
			<key>x</key>
			<integer>514</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daoju_heiwu1.png</key>
		<dict>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>120</integer>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>width</key>
			<integer>164</integer>
			<key>x</key>
			<integer>636</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daoju_huomiao2.png</key>
		<dict>
			<key>height</key>
			<integer>262</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>262</integer>
			<key>originalWidth</key>
			<integer>364</integer>
			<key>width</key>
			<integer>364</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daoju_yinying1.png</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daoju_zhadan2.png</key>
		<dict>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>558</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>MJ_BombAnimation1.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>MJ_BombAnimation1.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
