<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_mj_table_kaishi_daguang.png</key>
		<dict>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>149</integer>
			<key>originalWidth</key>
			<integer>253</integer>
			<key>width</key>
			<integer>253</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>258</integer>
		</dict>
		<key>pic_mj_table_kaishi_guang_00.png</key>
		<dict>
			<key>height</key>
			<integer>256</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>256</integer>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>width</key>
			<integer>256</integer>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_kaishi_languang.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>385</integer>
			<key>y</key>
			<integer>258</integer>
		</dict>
		<key>pic_mj_table_kaishi_xiguang.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>258</integer>
		</dict>
		<key>pic_mj_table_kaishi_xin_00.png</key>
		<dict>
			<key>height</key>
			<integer>256</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>256</integer>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>width</key>
			<integer>256</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_kaishi_zi.png</key>
		<dict>
			<key>height</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>308</integer>
			<key>width</key>
			<integer>308</integer>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>anim_mj_table_kaishi0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>anim_mj_table_kaishi0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
