<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dashandian/pic_mj_table_hu_dashandian_00.png</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>37.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_01.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>33</integer>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_02.png</key>
		<dict>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>69</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_03.png</key>
		<dict>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>67</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_04.png</key>
		<dict>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>67</integer>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_05.png</key>
		<dict>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>69</integer>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_06.png</key>
		<dict>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_07.png</key>
		<dict>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>55</integer>
			<key>x</key>
			<integer>411</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_08.png</key>
		<dict>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>468</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_09.png</key>
		<dict>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>522</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_10.png</key>
		<dict>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>572</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_11.png</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>12.5</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>16</integer>
			<key>x</key>
			<integer>622</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>dashandian/pic_mj_table_hu_dashandian_12.png</key>
		<dict>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_guanghuan01_00.png</key>
		<dict>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>126</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>218</integer>
		</dict>
		<key>pic_mj_table_guanghuan03_00.png</key>
		<dict>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>182</integer>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>width</key>
			<integer>215</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>218</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu_dilie_00.png</key>
		<dict>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>114</integer>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>218</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_00.png</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>-25.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>106</integer>
			<key>x</key>
			<integer>657</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_01.png</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>765</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_02.png</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>145</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_03.png</key>
		<dict>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_04.png</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_05.png</key>
		<dict>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>122</integer>
			<key>x</key>
			<integer>451</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_06.png</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>112</integer>
			<key>x</key>
			<integer>575</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_07.png</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>112</integer>
			<key>x</key>
			<integer>689</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>suidian/pic_mj_table_hu_suidian_08.png</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>width</key>
			<integer>133</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>anim_mj_table_hupai_texiao0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>anim_mj_table_hupai_texiao0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
