<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_mj_table_zhunbei_dengdai.png</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>939</integer>
			<key>width</key>
			<integer>939</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>pic_mj_table_zhunbei_dian.png</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>pic_mj_table_zhunbei_dingquezhong.png</key>
		<dict>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>85</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_zhunbei_xuanpaizhong.png</key>
		<dict>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>90</integer>
			<key>originalWidth</key>
			<integer>206</integer>
			<key>width</key>
			<integer>206</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_zhunbeizhong.png</key>
		<dict>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>85</integer>
			<key>originalWidth</key>
			<integer>199</integer>
			<key>width</key>
			<integer>199</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>anim_mj_table_zhunbeizhong0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>anim_mj_table_zhunbeizhong0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
