<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_Table_middle_box_east_bg_bottom.png</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>239</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_east_bg_left.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-92</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_east_bg_right.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>91</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>1211</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_east_bg_top.png</key>
		<dict>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>60.5</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>204</integer>
			<key>x</key>
			<integer>1285</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_north_bg_bottom.png</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>232</integer>
			<key>x</key>
			<integer>903</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_north_bg_left.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-92</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>829</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_north_bg_right.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>91</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>1137</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_north_bg_top.png</key>
		<dict>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>60.5</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>204</integer>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_south_bg_bottom.png</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>232</integer>
			<key>x</key>
			<integer>315</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_south_bg_left.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-92</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>1771</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_south_bg_right.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>91</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>1491</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_south_bg_top.png</key>
		<dict>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>60.5</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>204</integer>
			<key>x</key>
			<integer>1565</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_west_bg_bottom.png</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>234</integer>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>140</integer>
		</dict>
		<key>MJ_Table_middle_box_west_bg_left.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-92</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>140</integer>
		</dict>
		<key>MJ_Table_middle_box_west_bg_right.png</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>91</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_Table_middle_box_west_bg_top.png</key>
		<dict>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>60.5</real>
			<key>originalHeight</key>
			<integer>186</integer>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>width</key>
			<integer>204</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>anim_mj_table_chupai0.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>anim_mj_table_chupai0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>2048</integer>
		<key>width</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>
