<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_mj_table_xiaoguozi_chi.png</key>
		<dict>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>174</integer>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>width</key>
			<integer>181</integer>
			<key>x</key>
			<integer>455</integer>
			<key>y</key>
			<integer>325</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_chi_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>141</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>1065</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_duoxiang.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>612</integer>
			<key>width</key>
			<integer>612</integer>
			<key>x</key>
			<integer>638</integer>
			<key>y</key>
			<integer>325</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_duoxiang_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>1208</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_gang.png</key>
		<dict>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>168</integer>
			<key>originalWidth</key>
			<integer>182</integer>
			<key>width</key>
			<integer>182</integer>
			<key>x</key>
			<integer>1049</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_gang_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>141</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu.png</key>
		<dict>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>177</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>154</integer>
			<key>x</key>
			<integer>1803</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu02.png</key>
		<dict>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>173</integer>
			<key>originalWidth</key>
			<integer>156</integer>
			<key>width</key>
			<integer>156</integer>
			<key>x</key>
			<integer>1399</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>141</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>429</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_kaihua.png</key>
		<dict>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>200</integer>
			<key>originalWidth</key>
			<integer>621</integer>
			<key>width</key>
			<integer>621</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_kaihua_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_laoyue.png</key>
		<dict>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>195</integer>
			<key>originalWidth</key>
			<integer>566</integer>
			<key>width</key>
			<integer>566</integer>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_laoyue_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_peng.png</key>
		<dict>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>160</integer>
			<key>originalWidth</key>
			<integer>186</integer>
			<key>width</key>
			<integer>186</integer>
			<key>x</key>
			<integer>861</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_peng_h.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>141</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_peng_mo.png</key>
		<dict>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>162</integer>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>width</key>
			<integer>173</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>732</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_peng_mo02_00.png</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>171</integer>
			<key>width</key>
			<integer>169</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>732</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_qiangganghu.png</key>
		<dict>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>174</integer>
			<key>originalWidth</key>
			<integer>453</integer>
			<key>width</key>
			<integer>453</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>325</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_qiangganghu_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>778</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_shuangxiang.png</key>
		<dict>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>160</integer>
			<key>originalWidth</key>
			<integer>612</integer>
			<key>width</key>
			<integer>612</integer>
			<key>x</key>
			<integer>1252</integer>
			<key>y</key>
			<integer>325</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_shuangxiang_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>1495</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_ting.png</key>
		<dict>
			<key>height</key>
			<integer>193</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>193</integer>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>width</key>
			<integer>164</integer>
			<key>x</key>
			<integer>1233</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_ting_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>141</integer>
			<key>width</key>
			<integer>141</integer>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_zhuanyi.png</key>
		<dict>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>191</integer>
			<key>originalWidth</key>
			<integer>610</integer>
			<key>width</key>
			<integer>610</integer>
			<key>x</key>
			<integer>1191</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_zhuanyi_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>574</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_zimo.png</key>
		<dict>
			<key>height</key>
			<integer>179</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>179</integer>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>width</key>
			<integer>280</integer>
			<key>x</key>
			<integer>1557</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>pic_mj_table_xiaoguozi_zimo_h_00.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>width</key>
			<integer>204</integer>
			<key>x</key>
			<integer>572</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>anim_mj_table_xiaoguozi0.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>anim_mj_table_xiaoguozi0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>2048</integer>
		<key>width</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>
