<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_bishilian.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_bishishou.png</key>
		<dict>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>54</integer>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>width</key>
			<integer>113</integer>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_chijingguang.png</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>width</key>
			<integer>36</integer>
			<key>x</key>
			<integer>755</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_chijinglian.png</key>
		<dict>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>114</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>313</integer>
			<key>y</key>
			<integer>215</integer>
		</dict>
		<key>MJ_cuiculian.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>102</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>width</key>
			<integer>107</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>215</integer>
		</dict>
		<key>MJ_cuicushou.png</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>width</key>
			<integer>53</integer>
			<key>x</key>
			<integer>484</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_cuicushouzhi.png</key>
		<dict>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>33</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_daxiaoyan1.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>99</integer>
			<key>width</key>
			<integer>99</integer>
			<key>x</key>
			<integer>654</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_douniu_chat_2.png</key>
		<dict>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>108</integer>
			<key>originalWidth</key>
			<integer>111</integer>
			<key>width</key>
			<integer>111</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_gaoxingkuqilian.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>215</integer>
		</dict>
		<key>MJ_haixiu.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>width</key>
			<integer>103</integer>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_handi.png</key>
		<dict>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>54</integer>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>383</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_hanlian.png</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_huaixiao.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_kuqiyan1.png</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>908</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_kuqiyan2.png</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_nulian.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>215</integer>
		</dict>
		<key>MJ_nuyanjing1.png</key>
		<dict>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>37</integer>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>width</key>
			<integer>55</integer>
			<key>x</key>
			<integer>539</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_nuyanjing2.png</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>width</key>
			<integer>56</integer>
			<key>x</key>
			<integer>596</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_shaoxiangshou.png</key>
		<dict>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>97</integer>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>width</key>
			<integer>67</integer>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_shaoxiangyan.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>838</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_shengqiguang1.png</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>39</integer>
			<key>width</key>
			<integer>39</integer>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_shengqiguang2.png</key>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>22</integer>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>width</key>
			<integer>18</integer>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_shouzhongzhi.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>111</integer>
			<key>width</key>
			<integer>111</integer>
			<key>x</key>
			<integer>725</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_shumuzhi.png</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>width</key>
			<integer>113</integer>
			<key>x</key>
			<integer>793</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_zaijianlian.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>98</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<key>MJ_zaijianshou.png</key>
		<dict>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>28</integer>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_zaijianshoujuan1.png</key>
		<dict>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>63</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_zaijianshoujuan2.png</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>width</key>
			<integer>61</integer>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>MJ_zaijianyanjing.png</key>
		<dict>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>17</integer>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>width</key>
			<integer>16</integer>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>MJ_TableEmotion0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>MJ_TableEmotion0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
