<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_jindutiaodiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{575,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{575,63}}</string>
                <key>sourceSize</key>
                <string>{577,67}</string>
            </dict>
            <key>bg_tongyong_xiaoyouxidiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{617,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,424}}</string>
                <key>sourceSize</key>
                <string>{617,424}</string>
            </dict>
            <key>btn_tongyong_xiaoyouxiguanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,428},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_tongyong_xiaoyouxilijigengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{216,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,76}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btn_tongyong_xiaoyouxizanbugengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,256},{217,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>btn_tongyong_xinbanbenxiazai.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{252,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,50}}</string>
                <key>sourceSize</key>
                <string>{252,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commpop_update.png</string>
            <key>size</key>
            <string>{751,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64843e969b4c37bf8d3aff606a359c47$</string>
            <key>textureFileName</key>
            <string>commpop_update.png</string>
        </dict>
    </dict>
</plist>
