<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_btn_fasong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,75}}</string>
			<key>sourceSize</key>
			<string>{150,75}</string>
		</dict>
		<key>MJ_btn_fasong_zi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,936},{120,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,69}}</string>
			<key>sourceSize</key>
			<string>{120,69}</string>
		</dict>
		<key>MJ_btn_fsongdibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,118},{733,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{733,101}}</string>
			<key>sourceSize</key>
			<string>{733,101}</string>
		</dict>
		<key>MJ_btn_liaotianneirong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{589,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{589,148}}</string>
			<key>sourceSize</key>
			<string>{589,148}</string>
		</dict>
		<key>MJ_btn_liaotianqipao_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,803},{131,135}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{131,135}}</string>
			<key>sourceSize</key>
			<string>{133,135}</string>
		</dict>
		<key>MJ_btn_liaotianqipao_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,670},{131,135}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,135}}</string>
			<key>sourceSize</key>
			<string>{133,135}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1285},{104,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{104,100}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1323},{100,104}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,7},{100,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,967},{108,114}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,5},{108,114}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1007},{114,104}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{114,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1113},{112,108}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{112,108}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1525},{100,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,13},{100,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,853},{114,112}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{114,112}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1525},{100,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,13},{100,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,1387},{104,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,13},{104,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{114,98}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,13},{114,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1223},{110,98}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{110,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1425},{100,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,13},{100,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,1077},{114,102}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{114,102}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ingame_talk_ordinary_face_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,1181},{110,102}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{110,102}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>MJ_ion_liaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1487},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ingame_talk.pvr.ccz</string>
		<key>size</key>
		<string>{255,1639}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1359aceae8dc9a8ecc7d67e753ef05a4$</string>
		<key>textureFileName</key>
		<string>ingame_talk.pvr.ccz</string>
	</dict>
</dict>
</plist>
