<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_ingame_TOUXIANGKUANG.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,152},{274,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,273}}</string>
			<key>sourceSize</key>
			<string>{274,273}</string>
		</dict>
		<key>MJ_ingame_btn_GUANBIANNIU.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,1210},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>MJ_ingame_btn_can_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,152},{507,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,131}}</string>
			<key>sourceSize</key>
			<string>{507,131}</string>
		</dict>
		<key>MJ_ingame_btn_dalanseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,866},{355,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,118}}</string>
			<key>sourceSize</key>
			<string>{355,118}</string>
		</dict>
		<key>MJ_ingame_btn_dalanseanniu_nor_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,887},{355,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,118}}</string>
			<key>sourceSize</key>
			<string>{355,118}</string>
		</dict>
		<key>MJ_ingame_btn_daluseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,447},{285,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,88}}</string>
			<key>sourceSize</key>
			<string>{285,88}</string>
		</dict>
		<key>MJ_ingame_btn_dqueding_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1060},{98,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,56}}</string>
			<key>sourceSize</key>
			<string>{98,56}</string>
		</dict>
		<key>MJ_ingame_btn_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,1082},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>MJ_ingame_btn_duikongkuag.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,734},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>MJ_ingame_btn_fangka.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,1238},{44,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,51}}</string>
			<key>sourceSize</key>
			<string>{44,51}</string>
		</dict>
		<key>MJ_ingame_btn_fasong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,1115},{150,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,75}}</string>
			<key>sourceSize</key>
			<string>{150,75}</string>
		</dict>
		<key>MJ_ingame_btn_fnt_agree.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1145},{111,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,63}}</string>
			<key>sourceSize</key>
			<string>{111,63}</string>
		</dict>
		<key>MJ_ingame_btn_fnt_refuse.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,810},{107,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,58}}</string>
			<key>sourceSize</key>
			<string>{107,58}</string>
		</dict>
		<key>MJ_ingame_btn_fsongdibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,152},{733,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{733,101}}</string>
			<key>sourceSize</key>
			<string>{733,101}</string>
		</dict>
		<key>MJ_ingame_btn_hongseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,992},{177,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,88}}</string>
			<key>sourceSize</key>
			<string>{177,88}</string>
		</dict>
		<key>MJ_ingame_btn_jia_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,1158},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>MJ_ingame_btn_jian_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,1302},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>MJ_ingame_btn_jiantouanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,427},{383,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,118}}</string>
			<key>sourceSize</key>
			<string>{383,118}</string>
		</dict>
		<key>MJ_ingame_btn_jiantouanniu_nor_brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,762},{383,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,118}}</string>
			<key>sourceSize</key>
			<string>{383,118}</string>
		</dict>
		<key>MJ_ingame_btn_jsfj_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,1147},{292,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,105}}</string>
			<key>sourceSize</key>
			<string>{292,105}</string>
		</dict>
		<key>MJ_ingame_btn_lanseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1082},{120,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,61}}</string>
			<key>sourceSize</key>
			<string>{120,61}</string>
		</dict>
		<key>MJ_ingame_btn_liaotianneirong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,2},{589,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{589,148}}</string>
			<key>sourceSize</key>
			<string>{589,148}</string>
		</dict>
		<key>MJ_ingame_btn_queding_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,661},{203,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,103}}</string>
			<key>sourceSize</key>
			<string>{203,103}</string>
		</dict>
		<key>MJ_ingame_btn_quxiao_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1160},{96,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,55}}</string>
			<key>sourceSize</key>
			<string>{96,55}</string>
		</dict>
		<key>MJ_ingame_btn_weixuanzhongzhuangtai.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1310},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>MJ_ingame_btn_wenzidiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{758,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{758,125}}</string>
			<key>sourceSize</key>
			<string>{758,125}</string>
		</dict>
		<key>MJ_ingame_btn_xinxicao.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,800},{258,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,78}}</string>
			<key>sourceSize</key>
			<string>{258,78}</string>
		</dict>
		<key>MJ_ingame_btn_xuanzhongzhuangtai.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1238},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>MJ_ingame_btn_youjiandiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1439,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1439,208}}</string>
			<key>sourceSize</key>
			<string>{1439,208}</string>
		</dict>
		<key>MJ_ingame_btn_yunwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,800},{313,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,53}}</string>
			<key>sourceSize</key>
			<string>{313,53}</string>
		</dict>
		<key>MJ_ingame_btn_zhunbei_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,427},{371,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,132}}</string>
			<key>sourceSize</key>
			<string>{371,132}</string>
		</dict>
		<key>MJ_ingame_di_FENGETIAO.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,1060},{53,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,4}}</string>
			<key>sourceSize</key>
			<string>{53,4}</string>
		</dict>
		<key>MJ_ingame_ic_nan.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,1310},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>MJ_ingame_ic_nv.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,919},{49,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,68}}</string>
			<key>sourceSize</key>
			<string>{49,68}</string>
		</dict>
		<key>MJ_ingame_ic_yuanbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,989},{67,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,42}}</string>
			<key>sourceSize</key>
			<string>{67,42}</string>
		</dict>
		<key>MJ_ingame_infcard_pic_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,1267},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>MJ_ingame_ion_liaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,1382},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>MJ_ingame_pz_touxiangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,812},{160,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,178}}</string>
			<key>sourceSize</key>
			<string>{160,178}</string>
		</dict>
		<key>MJ_ingame_pz_touxiangkuang_di.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,1244},{160,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,178}}</string>
			<key>sourceSize</key>
			<string>{160,178}</string>
		</dict>
		<key>MJ_ingame_xinxi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,152},{293,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,68}}</string>
			<key>sourceSize</key>
			<string>{293,68}</string>
		</dict>
		<key>MJ_ingame_xinxi_diban_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,1382},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>MJ_inggamebtn_tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,1223},{198,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,82}}</string>
			<key>sourceSize</key>
			<string>{198,82}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ingame_co.pvr.ccz</string>
		<key>size</key>
		<string>{930,1443}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2cc41fbfd0f8f0e925891eb1c885c5ae$</string>
		<key>textureFileName</key>
		<string>ingame_co.pvr.ccz</string>
	</dict>
</dict>
</plist>
