<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_ingame_infomation_BIAOTIWENZI_grxx.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,1174},{339,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,91}}</string>
			<key>sourceSize</key>
			<string>{339,91}</string>
		</dict>
		<key>MJ_ingame_infomation_TOUXIANGKUANG.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1515},{274,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,273}}</string>
			<key>sourceSize</key>
			<string>{274,273}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_GUANBIANNIU.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1348},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,762},{410,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,81}}</string>
			<key>sourceSize</key>
			<string>{410,81}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_wenzidiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{758,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{758,125}}</string>
			<key>sourceSize</key>
			<string>{758,125}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_wupinkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1159},{202,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,187}}</string>
			<key>sourceSize</key>
			<string>{202,187}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_yuanjiaodiaban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1348},{133,62}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{133,62}}</string>
			<key>sourceSize</key>
			<string>{139,68}</string>
		</dict>
		<key>MJ_ingame_infomation_btn_yunwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,1515},{313,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,53}}</string>
			<key>sourceSize</key>
			<string>{313,53}</string>
		</dict>
		<key>MJ_ingame_infomation_di_FENGETIAO.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,831},{53,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,4}}</string>
			<key>sourceSize</key>
			<string>{53,4}</string>
		</dict>
		<key>MJ_ingame_infomation_ic_nan.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,1440},{57,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{57,57}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>MJ_ingame_infomation_ic_nv.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1440},{49,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,68}}</string>
			<key>sourceSize</key>
			<string>{49,68}</string>
		</dict>
		<key>MJ_ingame_infomation_ic_yuanbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,762},{67,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,42}}</string>
			<key>sourceSize</key>
			<string>{67,42}</string>
		</dict>
		<key>MJ_ingame_weizhijinggaodiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1155,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1155,208}}</string>
			<key>sourceSize</key>
			<string>{1155,208}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ingame_infomation.pvr.ccz</string>
		<key>size</key>
		<string>{339,1830}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d1d57901b204cce1fc372dcb9856cbfd$</string>
		<key>textureFileName</key>
		<string>ingame_infomation.pvr.ccz</string>
	</dict>
</dict>
</plist>
