<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_ingame_prepare_btn_can_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,68},{507,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,131}}</string>
			<key>sourceSize</key>
			<string>{507,131}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_dhh.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,68},{218,44}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{218,44}}</string>
			<key>sourceSize</key>
			<string>{222,48}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_fzcfjh_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,68},{374,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,73}}</string>
			<key>sourceSize</key>
			<string>{374,73}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_hsz.png</key>
		<dict>
			<key>frame</key>
			<string>{{1071,68},{118,42}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{118,42}}</string>
			<key>sourceSize</key>
			<string>{122,46}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_jsfj_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,68},{292,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,105}}</string>
			<key>sourceSize</key>
			<string>{292,105}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_jsfj_zi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1830,114},{200,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,60}}</string>
			<key>sourceSize</key>
			<string>{200,60}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_tdh.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,68},{111,39}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{111,39}}</string>
			<key>sourceSize</key>
			<string>{115,43}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_weizidibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,2},{1976,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1976,64}}</string>
			<key>sourceSize</key>
			<string>{1976,64}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_yjjd.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,175},{151,41}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{151,41}}</string>
			<key>sourceSize</key>
			<string>{155,45}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_yqwxhy_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,143},{378,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{378,71}}</string>
			<key>sourceSize</key>
			<string>{378,71}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_zhunbei_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,68},{371,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,132}}</string>
			<key>sourceSize</key>
			<string>{371,132}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_zhunbei_zi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,68},{148,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,79}}</string>
			<key>sourceSize</key>
			<string>{148,79}</string>
		</dict>
		<key>MJ_ingame_prepare_btn_zmjf.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,68},{146,42}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{146,42}}</string>
			<key>sourceSize</key>
			<string>{150,46}</string>
		</dict>
		<key>MJ_ingame_prepare_tuichufangjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{201,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,60}}</string>
			<key>sourceSize</key>
			<string>{201,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ingame_prepare.pvr.ccz</string>
		<key>size</key>
		<string>{2046,218}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:666a22112e74e76829bd76582eb1a5d2$</string>
		<key>textureFileName</key>
		<string>ingame_prepare.pvr.ccz</string>
	</dict>
</dict>
</plist>
