<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_Table_middle_box_dice1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{569,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_Table_middle_box_dice2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{628,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_Table_middle_box_dice3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{687,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_Table_middle_box_dice4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{746,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_Table_middle_box_dice5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{805,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_Table_middle_box_dice6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{57,61}</string>
			<key>textureRect</key>
			<string>{{864,865},{57,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_table_changecard_bg_duijia.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{581,241}</string>
			<key>spriteSourceSize</key>
			<string>{581,241}</string>
			<key>textureRect</key>
			<string>{{388,2},{581,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_table_changecard_bg_nishizhen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{581,241}</string>
			<key>spriteSourceSize</key>
			<string>{581,241}</string>
			<key>textureRect</key>
			<string>{{388,245},{581,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_table_changecard_bg_shunshizhen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{581,241}</string>
			<key>spriteSourceSize</key>
			<string>{581,241}</string>
			<key>textureRect</key>
			<string>{{388,488},{581,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_table_changecard_cards_right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,156}</string>
			<key>spriteSourceSize</key>
			<string>{114,156}</string>
			<key>textureRect</key>
			<string>{{94,731},{114,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_table_changecard_cards_self.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,90}</string>
			<key>spriteSourceSize</key>
			<string>{188,90}</string>
			<key>textureRect</key>
			<string>{{2,731},{188,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MJ_table_changecard_cards_up.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,86}</string>
			<key>spriteSourceSize</key>
			<string>{182,86}</string>
			<key>textureRect</key>
			<string>{{2,627},{182,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_ues_table_fnt_liuju.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{623,384}</string>
			<key>spriteSourceSize</key>
			<string>{623,384}</string>
			<key>textureRect</key>
			<string>{{2,2},{623,384}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MJ_use_Table_button_action_fnt_hu_small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{128,133}</string>
			<key>spriteSourceSize</key>
			<string>{132,155}</string>
			<key>textureRect</key>
			<string>{{250,627},{128,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MJ_use_Table_button_headframe_cover_tiao.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{186,627},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_use_Table_button_headframe_cover_tong.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{441,865},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MJ_use_Table_button_headframe_cover_wan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{505,865},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu_erhu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,132}</string>
			<key>spriteSourceSize</key>
			<string>{229,132}</string>
			<key>textureRect</key>
			<string>{{210,757},{229,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu_sanhu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,132}</string>
			<key>spriteSourceSize</key>
			<string>{229,132}</string>
			<key>textureRect</key>
			<string>{{441,731},{229,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pic_mj_table_xiaoguozi_hu_yihu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,132}</string>
			<key>spriteSourceSize</key>
			<string>{229,132}</string>
			<key>textureRect</key>
			<string>{{672,731},{229,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>mj_element.pvr.ccz</string>
		<key>size</key>
		<string>{971,930}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a12a5c2af749416b18ac2270f0f9d2db:272640b91ed8b3de59d24af76bde531d:a6259eea0c1d375dad2b04b7d1a00cff$</string>
		<key>textureFileName</key>
		<string>mj_element.pvr.ccz</string>
	</dict>
</dict>
</plist>
