<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_btn_chongshui_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,369},{110,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,55}}</string>
			<key>sourceSize</key>
			<string>{110,55}</string>
		</dict>
		<key>MJ_btn_danggeshuzikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,338},{65,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,97}}</string>
			<key>sourceSize</key>
			<string>{65,97}</string>
		</dict>
		<key>MJ_btn_qsrfjwh.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{283,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,57}}</string>
			<key>sourceSize</key>
			<string>{283,57}</string>
		</dict>
		<key>MJ_btn_shangchu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,281},{112,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,55}}</string>
			<key>sourceSize</key>
			<string>{112,55}</string>
		</dict>
		<key>MJ_btn_suzianniu_xiayou_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,2},{277,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,112}}</string>
			<key>sourceSize</key>
			<string>{277,112}</string>
		</dict>
		<key>MJ_btn_suzianniu_xiazuo_nor.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,90},{277,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,112}}</string>
			<key>sourceSize</key>
			<string>{277,112}</string>
		</dict>
		<key>MJ_btn_suzianniu_you_nor.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{277,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,112}}</string>
			<key>sourceSize</key>
			<string>{277,112}</string>
		</dict>
		<key>MJ_btn_suzianniu_zhong_nor.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{277,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,112}}</string>
			<key>sourceSize</key>
			<string>{277,112}</string>
		</dict>
		<key>MJ_btn_suzianniu_zuo_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{277,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,112}}</string>
			<key>sourceSize</key>
			<string>{277,112}</string>
		</dict>
		<key>MJ_btn_title_qsrfjwh.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,86}}</string>
			<key>sourceSize</key>
			<string>{317,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MJ_join.pvr.ccz</string>
		<key>size</key>
		<string>{509,491}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e50a3d81541bc10d0897e274fdc43b2a$</string>
		<key>textureFileName</key>
		<string>MJ_join.pvr.ccz</string>
	</dict>
</dict>
</plist>
