<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_Table_bg_green_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1920,1080}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
		</dict>
		<key>MJ_Table_btn_zhuomian_ting_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366,1048},{106,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,108}}</string>
			<key>sourceSize</key>
			<string>{106,108}</string>
		</dict>
		<key>MJ_Table_button_accounts_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1423,2},{79,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,87}}</string>
			<key>sourceSize</key>
			<string>{79,87}</string>
		</dict>
		<key>MJ_Table_button_action_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,1924},{121,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,121}}</string>
			<key>sourceSize</key>
			<string>{121,121}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_chi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,1682},{206,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,205}}</string>
			<key>sourceSize</key>
			<string>{206,205}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_gang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,1474},{206,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,206}}</string>
			<key>sourceSize</key>
			<string>{206,206}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_hu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,1266},{206,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,206}}</string>
			<key>sourceSize</key>
			<string>{206,206}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_hu_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,328},{52,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_peng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,1058},{206,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,206}}</string>
			<key>sourceSize</key>
			<string>{206,206}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,630},{218,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,218}}</string>
			<key>sourceSize</key>
			<string>{218,218}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_ting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,850},{206,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,206}}</string>
			<key>sourceSize</key>
			<string>{206,206}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_tong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,410},{218,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,218}}</string>
			<key>sourceSize</key>
			<string>{218,218}</string>
		</dict>
		<key>MJ_Table_button_action_fnt_wan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,190},{218,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,218}}</string>
			<key>sourceSize</key>
			<string>{218,218}</string>
		</dict>
		<key>MJ_Table_button_action_guo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,1639},{167,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,167}}</string>
			<key>sourceSize</key>
			<string>{167,167}</string>
		</dict>
		<key>MJ_Table_button_chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1364,938},{106,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,108}}</string>
			<key>sourceSize</key>
			<string>{106,108}</string>
		</dict>
		<key>MJ_Table_button_headframe.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,1808},{128,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,163}}</string>
			<key>sourceSize</key>
			<string>{128,163}</string>
		</dict>
		<key>MJ_Table_button_headframe_cover_offline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1423,91},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>MJ_Table_button_headframe_cover_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,1977},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>MJ_Table_button_headframe_cover_tong.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,1977},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>MJ_Table_button_headframe_cover_wan.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,1977},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>MJ_Table_button_headframe_heng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1357,190},{216,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,91}}</string>
			<key>sourceSize</key>
			<string>{216,91}</string>
		</dict>
		<key>MJ_Table_button_headframe_smallcircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1371,1242},{83,83}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{83,83}}</string>
			<key>sourceSize</key>
			<string>{91,101}</string>
		</dict>
		<key>MJ_Table_button_menu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1980},{270,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,59}}</string>
			<key>sourceSize</key>
			<string>{270,59}</string>
		</dict>
		<key>MJ_Table_button_menu_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1364,828},{106,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,108}}</string>
			<key>sourceSize</key>
			<string>{106,108}</string>
		</dict>
		<key>MJ_Table_button_menu_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1439,408},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>MJ_Table_button_menu_quit.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,1980},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>MJ_Table_button_menu_rules.png</key>
		<dict>
			<key>frame</key>
			<string>{{1435,1965},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>MJ_Table_button_menu_setup.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,1980},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>MJ_Table_caozuo_wenzidiwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366,1158},{92,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,82}}</string>
			<key>sourceSize</key>
			<string>{92,82}</string>
		</dict>
		<key>MJ_Table_dingsanzhang_btn_sanzhanghuase.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1924},{572,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{572,54}}</string>
			<key>sourceSize</key>
			<string>{572,54}</string>
		</dict>
		<key>MJ_Table_infomation_basescore_fnt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,1242},{83,43}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{83,43}}</string>
			<key>sourceSize</key>
			<string>{87,45}</string>
		</dict>
		<key>MJ_Table_infomation_game_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1439,474},{123,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{123,34}}</string>
			<key>sourceSize</key>
			<string>{129,38}</string>
		</dict>
		<key>MJ_Table_infomation_game_fnt_xlch.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,1808},{155,45}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{155,45}}</string>
			<key>sourceSize</key>
			<string>{159,47}</string>
		</dict>
		<key>MJ_Table_infomation_leftover_fnt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,782},{107,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,26}}</string>
			<key>sourceSize</key>
			<string>{107,26}</string>
		</dict>
		<key>MJ_Table_middle_box_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,2},{284,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,186}}</string>
			<key>sourceSize</key>
			<string>{284,186}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_bg_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,1924},{259,51}}</string>
			<key>offset</key>
			<string>{0,-62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,140},{259,51}}</string>
			<key>sourceSize</key>
			<string>{315,207}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_bg_leftright.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,1938},{81,155}}</string>
			<key>offset</key>
			<string>{101,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{218,25},{81,155}}</string>
			<key>sourceSize</key>
			<string>{315,207}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_bg_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,1980},{229,41}}</string>
			<key>offset</key>
			<string>{-1,67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,16},{229,41}}</string>
			<key>sourceSize</key>
			<string>{315,207}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_fnt_east.png</key>
		<dict>
			<key>frame</key>
			<string>{{1455,1389},{60,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,47}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_fnt_north.png</key>
		<dict>
			<key>frame</key>
			<string>{{1412,1410},{58,39}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{58,39}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_fnt_south.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1977},{50,45}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{50,45}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_bright_fnt_west.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,1544},{54,39}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{54,39}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_dark_fnt_east.png</key>
		<dict>
			<key>frame</key>
			<string>{{1455,1327},{60,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,47}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_dark_fnt_north.png</key>
		<dict>
			<key>frame</key>
			<string>{{1371,1410},{58,39}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{58,39}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_dark_fnt_south.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,561},{50,45}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{50,45}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_middle_box_dark_fnt_west.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,1488},{54,39}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{54,39}}</string>
			<key>sourceSize</key>
			<string>{60,47}</string>
		</dict>
		<key>MJ_Table_pz_shengyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,172},{154,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{154,42}}</string>
			<key>sourceSize</key>
			<string>{158,46}</string>
		</dict>
		<key>MJ_Table_pz_zhang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,1451},{35,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,41}}</string>
			<key>sourceSize</key>
			<string>{35,41}</string>
		</dict>
		<key>MJ_Table_redframe_btn_big_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,851},{210,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,70}}</string>
			<key>sourceSize</key>
			<string>{210,70}</string>
		</dict>
		<key>MJ_Table_redframe_btn_big_green_fnt_ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,1158},{74,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,42}}</string>
			<key>sourceSize</key>
			<string>{74,42}</string>
		</dict>
		<key>MJ_Table_redframe_cover_cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{1304,630},{219,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,49}}</string>
			<key>sourceSize</key>
			<string>{219,49}</string>
		</dict>
		<key>MJ_Table_test_da_tong.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,1924},{114,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,153}}</string>
			<key>sourceSize</key>
			<string>{114,153}</string>
		</dict>
		<key>MJ_Table_test_da_wan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1355,630},{147,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,150}}</string>
			<key>sourceSize</key>
			<string>{147,150}</string>
		</dict>
		<key>MJ_Table_test_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,1889},{142,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,161}}</string>
			<key>sourceSize</key>
			<string>{142,161}</string>
		</dict>
		<key>MJ_Table_wtt_btn_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084,2},{557,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{557,51}}</string>
			<key>sourceSize</key>
			<string>{561,55}</string>
		</dict>
		<key>MJ_caozuo_btn_quxiao_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,1470},{167,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,167}}</string>
			<key>sourceSize</key>
			<string>{167,167}</string>
		</dict>
		<key>MJ_caozuo_wenzidiwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366,1158},{92,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,82}}</string>
			<key>sourceSize</key>
			<string>{92,82}</string>
		</dict>
		<key>MJ_infcard_pic_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1371,1327},{82,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,81}}</string>
			<key>sourceSize</key>
			<string>{82,81}</string>
		</dict>
		<key>MJ_table_fnt_info_dangqianju.png</key>
		<dict>
			<key>frame</key>
			<string>{{1355,782},{119,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{119,44}}</string>
			<key>sourceSize</key>
			<string>{123,48}</string>
		</dict>
		<key>MJ_table_fnt_yidingque.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,1063},{203,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,72}}</string>
			<key>sourceSize</key>
			<string>{203,72}</string>
		</dict>
		<key>MJ_table_fnt_yixuanpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,1268},{200,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,77}}</string>
			<key>sourceSize</key>
			<string>{200,77}</string>
		</dict>
		<key>MJ_table_fnt_yizhunbei.png</key>
		<dict>
			<key>frame</key>
			<string>{{1357,408},{205,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,80}}</string>
			<key>sourceSize</key>
			<string>{205,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mj_table.pvr.ccz</string>
		<key>size</key>
		<string>{1504,2047}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cb3174c5bf9a92185f25f6a1000d701b$</string>
		<key>textureFileName</key>
		<string>mj_table.pvr.ccz</string>
	</dict>
</dict>
</plist>
