<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>合成 1_1_00000.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>合成 1_1_00002.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>合成 1_1_00003.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>合成 1_1_00004.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>1086</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>合成 1_1_00005.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>1448</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>合成 1_1_00006.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<key>合成 1_1_00007.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<key>合成 1_1_00008.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<key>合成 1_1_00009.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>1086</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<key>合成 1_1_00010.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>1448</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<key>合成 1_1_00011.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>410</integer>
		</dict>
		<key>合成 1_1_00012.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>410</integer>
		</dict>
		<key>合成 1_1_00014.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>203</integer>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>width</key>
			<integer>360</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>410</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>loading0.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>loading0.pvr.ccz</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>2048</integer>
		<key>width</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>
